:root{
    --green: #009688;
    --bg-gray: #dcdbd3;
    --bg-chat: #ece5dd;
    --light-blue:#8edafc;
    --sent-color: #d5f9ba;
    --gray: #aaa;
    --dark-gray: #ccc;
    --light-gray:#eaeaea;
    --darker-gray: #222e35;
}
#chat {
    background-color: var(--bg-chat);
}
/* Background utils */
.bg-light-gray {
    background-color: var(--light-gray);
}
.bg-chat-color {
background-color: var(--bg-chat);
}
.bg-light-blue{
    background-color: var(--light-blue);
} 
.bg-chat-image{
    background-image: url('../assets/img/bg_default.webp');
    background-size: cover;
} 


