#search-contacts{
    height: 50px;
    position: relative;
}
#search-contacts .fa-search{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
#search-contacts input{
    border: 0;
    height: 100%;
    padding-left: 50px;
}